Repository BF-FrontEnd-class-2025/group-3-loruki, pull requests merged in 2025-01, with the labels that each got.

#9 added project definition
  .cspell.json
  README.md
Labels: md, planning

#11 add constraints
  planning/constraints.md
Labels: md, planning

#10 added communcation plan
  planning/communication.md
Labels: md, planning

#12 added backlog information
  planning/backlog.md
Labels: md, planning

#13 added user personas
  planning/user-personas.md
Labels: md, planning

#34 added the navbar
  css/style.css
  css/utilities.css
  index.html
  styles/index.css
  styles/something.css
Labels: html, css, developing

#33 added showcase
  css/style.css
  index.html
Labels: html, css, developing

#35 Added stats section
  css/style.css
  index.html
Labels: html, css, developing

#36 added cli section
  css/style.css
  images/cli.png
  index.html
Labels: html, css, developing

#37 added footer
  css/style.css
  index.html
Labels: html, css, developing

#43 added design for features page
  planning/design.md
  planning/images/Wireframe.png
  planning/images/design-features.png
  planning/images/design.png
  planning/images/wireframe-features.png
  planning/screenshot.jpg
Labels: md, planning

#50 backlog updated
  planning/backlog.md
Labels: md, planning

#51 added navbar to the features page
  .cspell.json
  features.html
  index.html
Labels: html, developing

#55 added head section to the features page
  css/style.css
  features.html
  images/server.png
Labels: html, css, developing

#57 added design wireframe for the docs page
  planning/design.md
  planning/images/design-docs.png
  planning/images/wireframe-docs.png
Labels: md, planning

#58 sub head added to features page
  features.html
  planning/development-strategy.md
Labels: html, developing

#66 added picture and footer
  features.html
  images/server2.png
Labels: md, planning

#67 added navbar for docs page
  docs.html
Labels: html, developing

#69 added head section to docs
  README.md
  docs.html
  features.html
  images/docs.png
  planning/backlog.md
  planning/development-strategy.md
Labels: html, developing

#71 added main section to the docs page
  css/style.css
  docs.html
Labels: html, css, developing

#72 added footer : docs
  docs.html
Labels: html, developing
